@font-face {
    font-family: 'Wermut';
    src: local('./fonts/Wermut Regular'),
    url('../fonts/Wermut Regular/Wermut.woff2') format('woff2'),
    url('../fonts/Wermut Regular/Wermut.woff') format('woff'),
    url('../fonts/Wermut Regular/Wermut.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Wermut';
    src: local('./fonts/Wermut Italic'),
    url('../fonts/Wermut Italic/Wermut-Italic.woff2') format('woff2'),
    url('../fonts/Wermut Italic/Wermut-Italic.woff') format('woff'),
    url('../fonts/Wermut Italic/Wermut-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: Wermut;
    color: #0A0A0A;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

.paragraph-link {
    font-family: Wermut;
    font-style: italic;
    font-size: 52px;
    font-weight: 400;
    color: #0A0A0A;
}

.title-1 {
    font-size: 200px;
    font-weight: 400;
}

.paragraph-120 {
    font-size: 120px;
    font-weight: 400;
}

.title-2 {
    font-size: 64px;
    font-weight: 400;
}

.paragraph-40 {
    font-size: 40px;
    font-weight: 400;
}

.red {
    color: #A31B1A;
}

.italic {
    font-style: italic;
}

.paragraph-48 {
    font-size: 48px;
    font-weight: 400;
}

.paragraph-64 {
    font-size: 64px;
    font-weight: 400;
}

.paragraph-45 {
    font-size: 45px;
    font-weight: 400;
}

.paragraph-165 {
    font-size: 165px;
    font-weight: 400;
}

.paragraph-94 {
    font-size: 94px;
    font-weight: 400;
}
.paragraph-170{
    font-size: 170px;
    font-weight: 400;
    padding: 30px 0 30px 0;
}

.paragraph-240 {
    font-size: 230px;
    font-weight: 400;
}
.padding30-30{
    padding: 30px 0 30px 0;
}

.paragraph {
    font-size: 32px;
    font-weight: 400;
}

.superscript {
    vertical-align: super;
    font-variant-numeric: diagonal-fractions;
}

.subscript {
    vertical-align: -webkit-baseline-middle;
    font-variant-numeric: diagonal-fractions;
}
.oldstyle {
    font-variant-numeric: oldstyle-nums;
}
.right {
    text-align: right;
}

.about-creator-text-title {
    margin: 70px 0 20px 0;
}

.font-height {
    line-height: normal;
}
.letter-spacing-40{
    letter-spacing: 0.4em;
}

.transform15{
    transform: rotate(15deg);
}

.align-right{
    text-align: right;
}

.description-margin{
    margin: 30px 0 60px 0;
}

.margin-art{
    margin: -55px 0 30px 0;
}

.mini{
    font-size: 17px;
    font-weight: 400;
}

.font-height20{
    line-height: 20px;
    margin-top: 10px;
}