@import "font.css";
@import "img.css";


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.section {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.section-header {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
}

.head-line-img {
    margin: 14px 15px 0 25px;
}

.head-line-first-img {
    margin: 14px 25px 0 90px;
}

button {
    border: none;
    background-color: transparent;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    margin: 40px 35px 0 0 ;
}

.title-wrap-bottom {
    margin-right: 130px;
}

.header {
    padding-top: 40px;
}
.title-wrap-top-text {
    margin-top: -15px;
}

.block-about-symbols {
    position: absolute;
    left: -644px;
    top: 900px;
    z-index: 2;
}

.about-symbols-text {
    position: absolute;
    top: 1055px;
    transform: rotate(30deg);
    left: 605px;
    text-align: end;
}

.about-symbols-text-title {
    margin: 90px 0 30px 0;
}

.block-about-creator {
    position: relative;
    right: -375px;
    z-index: 1;
}

.block-about {
    padding-top: 350px;
}

.about-creator-text {
    position: absolute;
    top: 972px;
    right: 420px;
    text-align: right;
}

.outlines {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.outlines-text {
    margin-bottom: 150px;
}

.hidden {
    overflow: hidden;
}

.section-bottom-690 {
    padding-bottom: 690px;
}

.outlines-letters {

}

.price-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 0 0;
}

.price-card-special-glyphs {

}


.special-glyphs {
}

.ligatures {
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.description-wrap {
    display: flex;
    flex-direction: column;
    margin-left: -155px;
}

.description-text {
}

.subscript-block{
    margin: 20px 0 0 0;
}
.footer {
    padding: 150px 150px 250px 150px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contacts{
    margin-right: -50px;
    margin-top: 160px;
}
.facetype{
    margin-top: -25px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    z-index: 1;
}

.buybutton{
    z-index: 2;
    margin-top: -140px;
    margin-right: 125px;
    text-decoration: none;
}
.title-wrap-centered-text {
    padding-top: 120px;
}
.margin-right-32 {
    margin-right: 32px;
}

.margin-top-60{
    margin: 60px 0 0 0;
}
.padding-top-150{
    padding: 150px 0 0 0;
}

.padding-top-100{
    padding: 100px 0 0 0;
}

.discrepion{
    margin-top: 5px;
    margin-right: 53px;
}
a:-webkit-any-link {
    color: #a31b1a;
    cursor: pointer;
    text-decoration: none;}

.pointer{
    cursor: context-menu;
}
.link:hover{
 color: #000000;
}
a:visited {
    color: #a31b1a;
}
.link:active{
 color: #a31b1a;
}

